* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #FB2E86;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border: 0;
    background-color: var(--primary);
    padding: 5px;

}

/* start header section */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    position: sticky;
    z-index: 100;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1400px;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header input,
.footer input {
    border: 0;
    padding: 5px;
}


.header form,
.footer form {
    border: 2px solid #E7E6EF;
    display: flex;
}

.header ul li {
    align-items: center;
}

.header ul li a {
    color: #0D0E43;
}

.header .logo {
    align-items: center;
}

form img {
    padding: 5px;

}

.header .list a:hover {
    color: var(--primary);
    font-size: 20px;
}

.header .list a {
    transition: 1.2s;
}

.menu {
    display: none;
}

@media screen and (min-width:0) and (max-width:960px) {

    .header .search_Form,
    .header .list {
        display: none;
    }

    .menu {
        display: block;
    }
}

/* end header section */

/* start featured products section */
.featured-products {
    text-align: center;
    align-items: flex-start;
    padding: 50px;
}

.featured-products .row {
    gap: 20px;
}

.featured-products .container {
    text-align: center;
    padding: 40px;
}

.featured-products .container h2 {
    margin-bottom: 40px;
    color: #1A0B5B;
}

.featured-products .product {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.027);
    justify-content: center;
    width: calc((100%-60px)/4);

}

.featured-products .product .product-img {
    position: relative;
    background-color: #F6F7FB;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-img .icons {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 10px;
    opacity: 0;
    align-items: flex-start;
}

.product-img .view-btn {
    position: static;
    margin-top: 10px;
    background-color: #08D15F;
    color: #FFFFFF;
    opacity: 0;
    border: 0.5px solid rgba(94, 8, 122, 0.35);
}

.featured-products .product .product-details {
    padding: 20px;
}

.featured-products .product .product-details h3 {
    color: var(--primary);

}

.featured-products .product .product-details span {
    padding: 15px;
}

.btn-color {
    border: 0;
    outline: 0;
    width: 20px;
    height: 4px;
}

.color-one {
    background-color: #05E6B7;
}

.color-two {
    background-color: #F701A8;
}

.color-three {
    background-color: #00009D;
}

.color-four {
    background-color: #FFEAC1;
}

.product:hover {
    background: #2F1AC4;
    box-shadow: 0 0 35px rgba(94, 8, 122, 0.35);
    transition: 1s;
}

.product:hover .icons {
    opacity: 1;
}

.product:hover .view-btn {
    opacity: 1;
}

.product:hover h3,
.product:hover span {
    color: #EEEFFB;
}

.product:hover .product-img img {
    transform: scale(1.04);
}

@media screen and (min-width:0) and (max-width:500px) {
    .product {
        width: 100%;
    }

}

@media screen and (min-width:501px) and (max-width:800px) {
    .product {
        width: calc((100% - 20px)/2);
    }

}

@media screen and (min-width:801px) and (max-width:1200px) {
    .product {
        width: calc((100% - 40px)/4);
    }

}

/* end featured products section */

/* start update section */
.update_section {
    background-image: url('./Images/bg.png');
    background-size: cover;
    background-position: center 35px;
    background-repeat: no-repeat;
    height: 462px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.update_section .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    gap: 18px;
}

.update_section .items h2 {
    max-width: 500px;
    font-style: italic;
    color: #151875;
}

.update_section .items .btn {
    color: #EEEFFB;
}

/* end update section */

/* start Leatest Blog section*/
.leatest-blog .container {
    padding-top: 100px;
}

.leatest-blog .row {
    align-items: flex-start;
    gap: 20px;
}

.leatest-blog h2 {
    text-align: center;
    padding-bottom: 80px;
    font-size: 42px;
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
}

.leatest-blog .blog {
    width: calc((100% - 40px)/3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.leatest-blog .blog-img img {
    width: 100%;
    object-fit: cover;
}

.leatest-blog .blog-details {
    padding: 15px;
}

.leatest-blog .blog-details .post-meta {
    display: flex;
    gap: 15px;
    padding-bottom: 14px;
}

.leatest-blog .blog-details h2 {
    padding-bottom: 17px;
}

.leatest-blog .post-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.leatest-blog .post-content a {
    text-decoration: underline;
    color: #151875;
}

.blog:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);
}

.blog:hover h3 {
    color: var(--primary);
    transition: 0.25s ease;
}

.blog:hover a {
    color: var(--primary);
    transition: 0.25s ease;
}

@media screen and (max-width:1150px) {
  .leatest-blog .blog .post-meta {
    gap: 16px;
  }
}

@media screen and (max-width:1100px) {
  .leatest-blog .blog .post-meta {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width:1000px) {
  .leatest-blog .blog {
    gap: 10px;
    padding-bottom: 20px;
  }

  .leatest-blog .blog .post-content {
    gap: 10px;
    padding: 0 10px;
  }

  .leatest-blog .blog .post-content p {
    line-height: 20px;
  }

  .leatest-blog h2 {
    font-weight: 700;
    font-size: 30px;
  }

  .leatest-blog .blog .post-content h3 {
    font-size: 18px;
  }
}

@media screen and (max-width:900px) {
  .leatest-blog .blog {
    width: calc((100% - 40px) / 2);
  }
}

@media screen and (max-width:700px) {
  .leatest-blog .blog {
    width: 100%;
  }

  .leatest-blog .blog .post-meta {
    flex-direction: row;
    gap: 25px;
  }

  .leatest-blog h2 {
    font-weight: 700;
    font-size: 26px;
  }
}



/* end Leatest Blog section */

/* start footer section */
.footer {
    background-color: #EEEFFB;
    padding: 50px;
    margin-top: 50px;
}

.footer .row {
    gap: 20px;
    align-items: flex-start;
}

.footer .footer-left-side {
    width: calc((100%-20px)/ 2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.footer .footer-left-side .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #8A8FB9;
}

.footer-left-side .btn {
    color: #EEEFFB;
}

.footer .footer-right-side {
    width: calc((100%-20px)/ 2);
    justify-content: center;
}

.footer-right-side .row {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.footer .footer-right-side .catagories h3 {
    width: 111px;
    height: 24.43px;
}

.footer .footer-right-side .customer h3 {
    width: 152px;
    height: 24.43px;
}

.footer .footer-right-side .pages h3 {
    width: 62px;
    height: 24.43px;
}

.footer .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 46.65px;

}

.footer .footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23.32px;
}

.footer .footer-right-side ul li a {
    color: #8A8FB9;
}

@media screen and (min-width:0) and (max-width:650px) {

    .footer .footer-left-side,
    .footer .footer-right-side {
        width: 100%;
    }
}

/* end footer section*/