* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #FB2E86;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border: 0;
    background-color: var(--primary);
    padding: 5px;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1400px;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header input,
.footer input {
    border: 0;
    padding: 5px;
}


.header form,
.footer form {
    border: 2px solid #E7E6EF;
    display: flex;
}

.header ul li {
    align-items: center;
}

.header ul li a {
    color: #0D0E43;
}

.header .logo {
    align-items: center;
}

form img {
    padding: 5px;

}

.par {
    font-size: medium;
    margin-top: 120px;
    background-color: white;
}

.header .list a:hover {
    color: var(--primary);
    font-size: 20px;
}

.header .list a {
    transition: 1.2s;
}

.par {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.content {
    width: calc((100% - 40px)/5);
    border: 1px solid lightcoral;
    font-size: 20px;
}

.menu {
    display: none;
}

@media screen and (min-width:0) and (max-width:960px) {

    .header .search_Form,
    .header .list {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media screen and (min-width:0) and (max-width:500px) {
    .content {
        width: 100%;
    }

}

@media screen and (min-width:501px) and (max-width:800px) {
    .content {
        width: calc((100% - 20px)/2);
    }

}

@media screen and (min-width:801px) and (max-width:1200px) {
    .content {
        width: calc((100% - 30px)/4);
    }

}

/* start footer */
.footer {
    background-color: #EEEFFB;
    padding: 50px;
    margin-top: 50px;
}

.footer .row {
    gap: 20px;
    align-items: flex-start;
}

.footer .footer-left-side {
    width: calc((100%-20)/ 2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.footer .footer-left-side .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #8A8FB9;
}

.footer-left-side .btn {
    color: #EEEFFB;
}

.footer .footer-right-side {
    width: calc((100%-20)/ 2);
    justify-content: center;
}

.footer-right-side .row {
  display: flex;
  justify-content: center;  
  gap: 120px;   
}

.footer .footer-right-side .catagories h3 {
    width: 111px;
    height: 24.43px;
}

.footer .footer-right-side .customer h3 {
    width: 152px;
    height: 24.43px;
}

.footer .footer-right-side .pages h3 {
    width: 62px;
    height: 24.43px;
}

.footer .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 46.65px;

}

.footer .footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23.32px;
}

.footer .footer-right-side ul li a {
    color: #8A8FB9;
}

@media screen and (min-width:0) and (max-width:650) {

    .footer .footer-left-side,
    .footer .footer-right-side {
        width: 100%;
    }
}



/* end footer */